<div id="helpID" class="generalDIV">
  <div class="generaltext">
<!--    {{#with app}}-->
<!--      <p>{{name}} {{version}}</p>-->
<!--      <p>{{{link website.text website.url}}}</p>-->
<!--    {{/with}}-->
<!--    {{#with runtime}}-->
<!--      <p>{{name}} {{version}}</p>-->
<!--    {{/with}}-->
      <p>EMPTY</p>
  </div>
</div>
